Cannot add to array using negative index.

I am running `go version go1.7.3 darwin/amd64` with the latest of `evanphx/json-patch`.

## The bug

Currently, if I try to use the `add` operation to append to an array, specifying a **negative index**, I get a runtime panic.

This is what [RFC 6902, Section 4.1](https://tools.ietf.org/html/rfc6902#section-4.1) has to say about negative indexes during an `add` operation:

> If the "-" character is used to index the end of the array (see [RFC6901](https://tools.ietf.org/html/rfc6901)), this has the effect of appending the value to the array.

## The code
Here is the code I used to test:

```go
package main

import (
	"fmt"

	"github.com/evanphx/json-patch"
)

func main() {
	document := []byte(`{"count": 2, "items": ["one", "two"]}`)
	patch := []byte(`[
		{"op": "add", "path": "/count", "value": 3},
		{"op": "add", "path": "/items/-1", "value": "three"}
	]`)

	patchObj, err := jsonpatch.DecodePatch(patch)
	if err != nil {
		panic(err)
	}

	out, err := patchObj.Apply(document)
	if err != nil {
		panic(err)
	}

	fmt.Println(string(out))
}

```
I expect:
```go
> go run main.go
{"count":3,"items":["one","two","three"]}
```

but instead I get:
```go
> go run main.go
panic: runtime error: slice bounds out of range

goroutine 1 [running]:
panic(0xc5ea0, 0xc42000a110)
	/usr/local/go/src/runtime/panic.go:500 +0x1a1
github.com/evanphx/json-patch.(*partialArray).add(0xc4200164c0, 0xc42000a558, 0x2, 0xc4200165a0, 0xc42006d008, 0xc42000a501)
	/Users/.../src/github.com/evanphx/json-patch/patch.go:372 +0x2a1
github.com/evanphx/json-patch.Patch.add(0xc420012340, 0x2, 0x4, 0xc42003ddf0, 0xc420016420, 0x0, 0x0)
	/Users/.../src/github.com/evanphx/json-patch/patch.go:425 +0x117
github.com/evanphx/json-patch.Patch.ApplyIndent(0xc420012340, 0x2, 0x4, 0xc420016300, 0x25, 0x30, 0x0, 0x0, 0xd1fe0, 0xc420012300, ...)
	/Users/.../src/github.com/evanphx/json-patch/patch.go:594 +0x484
github.com/evanphx/json-patch.Patch.Apply(0xc420012340, 0x2, 0x4, 0xc420016300, 0x25, 0x30, 0x0, 0x0, 0x63c6c, 0x0, ...)
	/Users/.../src/github.com/evanphx/json-patch/patch.go:570 +0x82
main.main()
	/Users/.../src/github.com/clagraff/main.go:21 +0x106
exit status 2
```
## Additional
I think I have a fix and will submit a PR soon.

That all said, [RFC 6901, Section 4](https://tools.ietf.org/html/rfc6901#section-4) which is referenced in that quoted portion of RFC 6901 I pasted above has this to say about negative array indexes:

> Note that the use of the "-" character to index an array will always result in such an error condition because by definition it refers to a nonexistent array element.  Thus, applications of JSON Pointer need to specify how that character is to be handled, if it is to be useful.

So maybe this is okay behavior? It is a simple fix and seems to be a nice-to-have, so I will submit a fix for it anyways and let you decide if it seems right.

This has been resolved. Thanks.